// ========================
//   COULEURS PRINCIPALES
// ========================

$black: #000000;
$white: #ffffff;
$blue-light: #1DAAE7;
$blue-dark: #0A1B3E;
$blue-deep: #004A8B;
$cyan-light: #05C3FF;
$cyan-ultra-light: #B0F3FF;

// ===================================================
//   BLOCS - MENU UTILISATEURS ET INFORMATIONS USERS
// ===================================================

$block-start: #2374DD;
$block-end: #0046D6;