@import "../styles/variables";

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr; // 3 colonnes : gauche, centre, droite
  align-items: center;
  padding: 10px;

  p {
    font-family: var(--font-finalf);
    font-size: 24px;
  }
}

// Header responsive pour téléphone
@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px;
    gap: 20px; 

    img {
      width: 140px !important;
      height: auto !important;
    }

    p {
      font-size: 18px; 
      line-height: 1.3;
    }
  }
}

// Header responsive pour tablette
@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
}

.heroSection {
  position: relative;

  background-image: url("https://final-fantasy-vii-project.s3.eu-north-1.amazonaws.com/home-page/Cloud+Sephiroth+%26+Midgar.jpg");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  padding: 50px;
  color: $white;

  &::before {
    content: "";
    position: absolute;
    // top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 0;
  }

  p {
    font-family: var(--font-finalf);
    font-size: 48px;
    max-width: 600px;
  }

  .flex {
    display: flex;
    gap: 30px;

    .homeBtn {
      position: relative;
      padding: 15px;

      font-family: var(--font-optima);
      font-size: 38px;
      color: white;

      border: none;
      background-color: transparent;

      background-image: url('https://final-fantasy-vii-project.s3.eu-north-1.amazonaws.com/background-btn/background-btn-home.png');
      background-size: 100% 100%;

      cursor: pointer;
      transition: 
        background-image 0.25s ease-in-out,
        transform 0.2s ease-in-out,
      }

      .homeBtn:hover {
        background-image: url('https://final-fantasy-vii-project.s3.eu-north-1.amazonaws.com/background-btn/background-btn-home-hover-v2.png');
        background-size: 100% 100%;
        transform: scale(1.02);
      }
  }
}

// Hero section responsive pour téléphone
@media screen and (max-width: 768px) {
  .heroSection {
    background-position: center center;
    padding: 0px;
    gap: 30px;

    p {
      font-size: 24px;
      line-height: 1.3;
      max-width: 100%;
      text-align: center;
    }

    .flex {
      flex-direction: column;
      align-items: center;
      gap: 16px;

      .homeBtn {
        font-size: 20px;
        padding: 12px 20px;
        width: 100%;
        max-width: 300px;
      }
    }
  }
}

// Hero section responsive pour tablette
@media screen and (max-width: 1024px) {
  .heroSection {
    background-image: url("https://final-fantasy-vii-project.s3.eu-north-1.amazonaws.com/home-page/Hero+section+mobile.jpg");
    background-position: center top;
  }
}

.storySection {
  background-image: url("https://final-fantasy-vii-project.s3.eu-north-1.amazonaws.com/home-page/Shinra+company.webp");
  background-size: cover;
  background-position: center center;

  .storySectionBlok {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 78px;
    padding-top: 70px;
    padding-bottom: 70px;

    .storySectionBlokColumn {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }

    .borderImg {
      border-radius: 20px;
      max-width: 447px;
    }

    .storySectionBlokTitle {
      font-family: var(--font-optima);
      font-size: 36px;
      color: $cyan-light;
    }

    .storySectionBlokText {
      font-family: var(--font-noto-sans-jp);
      font-size: 24px;
      color: $white;
      max-width: 675px;
    }
  }
}

// Story section responsive pour téléphone
@media screen and (max-width: 768px) {
  .storySection {
    padding: 40px 20px;
    background-image: url("https://final-fantasy-vii-project.s3.eu-north-1.amazonaws.com/home-page/Story+section+mobile.jpg");
    background-position: center top;

    .storySectionBlok {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      text-align: center;
      
      .fixImage {
        max-width: 447px;
      }

      .storySectionBlokTitle {
        font-size: 24px;
      }

      .storySectionBlokText {
        font-size: 14px;
        max-width: 100%;
        line-height: 1.4;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

// Story section responsive pour tablette
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .storySection {
    padding: 50px 40px;
    background-image: url("https://final-fantasy-vii-project.s3.eu-north-1.amazonaws.com/home-page/Story+section+mobile.jpg");
    background-position: center top;

    .storySectionBlok {
      flex-direction: column;
      align-items: center;
      gap: 50px;
      text-align: center;

      .fixImage {
        max-width: 447px;
      }

      .storySectionBlokColumn {
        align-items: center;
      }

      .storySectionBlokTitle {
        font-size: 28px;
      }

      .storySectionBlokText {
        font-size: 16px;
        max-width: 90%;
        line-height: 1.5;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

// Story section responsive pour desktop intermédiaire
@media screen and (max-width: 1250px) and (min-width: 1025px) {
  .storySection {
    padding: 50px 40px;

    .storySectionBlok {
      gap: 50px;

      .storySectionBlokText {
        font-size: 18px;
        
        line-height: 1.5;
      }

      .storySectionBlokTitle {
        font-size: 30px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.footerSection {
  background-image: url("https://final-fantasy-vii-project.s3.eu-north-1.amazonaws.com/home-page/Background+footer.png");
  background-repeat: no-repeat;
  min-height: 50vh;
  background-size: cover;
  background-color: $black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px;

  .footerSectionBlokTitle {
    font-family: var(--font-optima);
    font-size: 36px;
    color: $cyan-light;
  }

  .footerSectionBlokText {
    font-family: var(--font-noto-sans-jp);
    font-size: 24px;
    color: $white;
    max-width: 734px;
  }
}

// Footer section responsive pour tablette et mobile
@media screen and (max-width: 1024px) {
  .footerSection {
    padding: 20px 40px;

    img {
      width: 100%;
      max-width: 400px;
      height: auto;
    }

    .footerSectionBlokTitle {
      font-family: var(--font-optima);
      font-size: 30px;
      color: $cyan-light;
    }

  .footerSectionBlokText {
      font-family: var(--font-noto-sans-jp);
      font-size: 18px;
      color: $white;
      max-width: 734px;
    }
  }
}